*.swp
*.swo

*.pyc
*.root
*.log
*.out
*.pdf

.*
!.gitignore

condor.sub
jkaspar.cc

data/phys*/fill*/xangle*
data/alig*/fill*/xangle*/*/input_files.py

distributions
match
x_alignment_meth_o
x_alignment_meth_x
x_alignment_relative
y_alignment
y_alignment_alt
